.login {
  padding: 20px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loginInput {
  padding: 8px;
  font-size: 1rem;
}

.loginButton {
  padding: 10px;
  background-color: #003366;
  color: white;
  border: none;
  cursor: pointer;
}